* {

    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url("chores_img/background-design-marble-850796.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.calculate {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    background-color: lightgray;
}

.calculate:active{
    background-color: gray;
}


ul {
    display: inline-block;
    width: 33%;
    list-style-type: none;
    text-align: center;
}


h1 {

    text-align: center;
    margin: 1em 0;
    background-color: white;
    opacity: 0.5;

  text-align: center;
  margin: 1em 0;
  background-color: white;
  opacity: 0.5;

}

h2 {
    text-align: center;
    margin-bottom: 0;
}

.choreTitle {
    margin-bottom: 8px;
}


.header {

    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}


.card-header {
    width: 100%;
    text-align: center;
    background-color: darkblue;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
}

.container1 {
    border: .25em solid gray;
    margin: 1em 0;
    padding: 0;
}

.card-body > .choice{
    background-color: transparent;
    border: 1px solid gray;

}

.card-deck {
    display: flex;

  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;

}