* {

    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url("chores_img/background-design-marble-850796.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#calculate {
    width: calc(100% - 8px);
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    background-color: lightgray;
}

#calculate:active{
    background-color: gray;
}

.chorelist {
    width: 100%;

}

.chorelist > table {
    float: left;
    width: 14.25%;
    border: 1px solid black;
}

.box {
    width: 25%;
}

td {
    width: 100%;
    float: left;
}

table h3 {
    text-align: center;
    margin: 0;
}

ul {
    display: inline-block;
    width: 33%;
    list-style-type: none;
    text-align: center;
}

.class {
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}

.choreTitle {
    margin-bottom: 8px;
}


.header {
    margin-bottom: 16px;
    text-align: center;
}